<!-- font Awesome -->
<script src="https://kit.fontawesome.com/3e483ed6b4.js"></script>
<link rel="stylesheet" href="/css/dashBoard.css">


<title>Order Online</title>
<body class="bg-img">
    <h6 class="header mt-4">Ready to order <%= name %> . . .</h6>
    <a href="/users/logout" class="btn1">Logout</a>
    <div class="container">
        <section class="checkOut content-section">
            <h2 class="section-header">Cart
            <i class="fas fa-cart-plus icon"></i></h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">Item</span>
                <span class="cart-price cart-header cart-column">Price:</span>
                <span class="cart-quantity cart-header cart-column">Quantity</span>
            </div>
            <div class="cart-items">
                <!-- code in javaScript -->
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total:</strong>
                <span class="cart-total-price">₹0</span>
            </div>
            <button class="btn2 btn-purchase" type="button">Purchase</button>
        </section>
            
        <div class="row">
            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Afgani Momos</span>
                    <img src="/momos_img/afgani momos.webp" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/momos_img/afgani momos.webp"></a>
                <div class="check "> 
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price"> ₹150</span>
                        <button class="btn3  shop-item-button"><img src="/momos_img/cart.svg" alt=""></button>
                    </div>
                </div>
            </div>
            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Peri Peri Momos</span>
                    <img src="/momos_img/paneer-peri-peri-momos.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/momos_img/paneer-peri-peri-momos.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center">price:</span> 
                        <span class="shop-item-price">₹150</span>
                        <button class="btn3  shop-item-button"><img src="/momos_img/cart.svg" alt=""></button>
                    </div>
                </div>
            </div>
            
            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Cheesy Gravy Momos</span>
                    <img src="/momos_img/cheesygravymomos.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/momos_img/cheesygravymomos.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price">₹150</span>
                        <button class="btn3  shop-item-button"><img src="/momos_img/cart.svg" alt=""></button>
                    </div>

                </div>
            </div>
            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Tandoori Momos</span>
                    <img src="/momos_img/tandoorimomos.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/momos_img/tandoorimomos.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price">₹150</span>
                         <button class="btn3  shop-item-button"><img src="/momos_img/cart.svg" alt=""></button>
                    </div>

                </div>
            </div>
            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Veg Fried Momos</span>
                    <img src="/momos_img/vegfriedmomos.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/momos_img/vegfriedmomos.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price">₹150</span>
                         <button class="btn3  shop-item-button"><img src="/momos_img/cart.svg" alt=""></button>
                    </div>

                </div>
            </div>
            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Chilli Garlic Momos</span>
                    <img src="/momos_img/chilligarlicmomos.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/momos_img/chilligarlicmomos.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price">₹150</span>
                        <button class="btn3  shop-item-button"><img src="/momos_img/cart.svg" alt=""></button>
                    </div>
                </div>
            </div>

            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Kurkure Momos</span>
                    <img src="/momos_img/kurkure-momos.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/momos_img/kurkure-momos.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price">₹150</span>
                        <button class="btn3  shop-item-button"><img src="/momos_img/cart.svg" alt=""></button>
                    </div>
                </div>
            </div>

            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Fried Corn Momos</span>
                    <img src="/momos_img/Deep-friedcornmomos.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/momos_img/Deep-friedcornmomos.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price">₹150</span>
                        <button class="btn3  shop-item-button"><img src="/momos_img/cart.svg" alt=""></button>
                    </div>
                </div>
            </div>

             <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Steam Corn Momos</span>
                    <img src="/momos_img/steamcornmomos.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/momos_img/steamcornmomos.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price">₹150</span>
                        <button class="btn3  shop-item-button"><img src="/momos_img/cart.svg" alt=""></button>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    <script src="/js/dashBoard.js"></script>
</body>
